name: Automate Data Preprocessing

on:
  push:
    branches:
      - main
    paths:
      - 'dataset_raw.csv'
      - 'preprocessing/**'

jobs:
  run-preprocessing:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn PyYAML
          pip install pandas numpy openpyxl

      - name: Run Preprocessing Script
        run: |
          python preprocessing/automate_Resti_Anggraini.py

      - name: Commit and Push Processed Data
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          
          git add preprocessing/data_training_final.csv
          
          git commit -m "Auto-update: Data Preprocessing Finished [skip ci]" || echo "No changes to commit"
          git push